<style>
    .author {
        padding: 45px 45px 45px 45px;
        background-color: rgb(241, 241, 241);
        color: rgb(68, 68, 68);
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 25px;
    }

    .author p:nth-child(1){
        color:black;
        font-family: 'Playfair Display', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 33.3333px;
    }

</style>


<div class="author">
    <p>Jessica Bell</p>
    <p>
        I am a born and raised Winnipegger, having lived independently in most major areas of the city, my preference is to stay close to the hustle and bustle of downtown Winnipeg. Professionally I started out freelancing Social Media Services, Marketing, Content Writing, Design, and am in the midst of my freelance hobbies being turned into a full fledge start-up. Personally, I love to explore, learn and create. I enjoy studying and practice with energy & holistic healing methods such as Aromatherapy, Reiki and Hypnotherapy. I spend much of my free time walking our city sites, river walks and downtown sidewalks with my trusty pup, soaking in the unique history, architecture and culture Winnipeg has to offer.
    </p>
</div>