<style>
  .list * {
    border: 1px blue solid;
  }

  .list {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
  }

  .list .left-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .list .post {
    flex-basis: 100%;
  }

  @media screen and (min-width: 480px) {
    .list {
      padding: 0 20px 0 20px;
    }
  }

  .list .right-list {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .list .right-list {
      display: block;
    }
  }


  @media screen and (min-width: 1020px) {
    .list {
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
    }
    .left-list {
      flex-basis: 70%;
    }
    .right-list {
      flex-basis: 24%;
      position: -webkit-sticky; /* for Safari */
      position: sticky;
      top: 60px;
      align-self: flex-start; /* <-- this is the fix */
    }
  }

  .post img {
    width: 100%;
    height: 100%;
  }

  .post {
    flex-basis: 100%;
    text-align: left;
  }

  .post figure {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  
  .post p{
    font-family: 'Open Sans', sans-serif;
    color: rgb(68, 68, 68);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }

  .post p strong{
    font-family: 'Open Sans', sans-serif;
    color: rgb(68, 68, 68);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
  }

</style>
<div class="list">

  <div class="left-list">
      <div class="post">
          <article>
            {{ page.content | safe }}
          </article>
      </div>

      <div class="post">
        {% include "include/social_buttons.html" %}
      </div>

      <div class="post">
        {% include "include/author.html" %}
      </div>

      <div class="post">
        {% include "include/related.html" %}
      </div>

      <div class="post">
        {% include "include/pagination_post.html" %}
      </div>
  </div>



  {% include "include/right_side_info.html" %}

</div>