<style>
    .tags-follow-post{
        margin-top: 45px;
    }
    .tags-follow-post a{
        padding: 5px 7px 5px 7px;
        background-color: rgb(242,242,242);
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        border-radius: 2px;
        font-size: 8px;
        display: inline-block;
        line-height: 1;
    }
    .tags-follow-post a::before{
        content: "#";
    }
</style>

<div class="tags-follow-post">
    <a href="https://livingat300main.ca/tag/downtown-winnipeg/" rel="tag">Downtown Winnipeg</a>
    <a href="https://livingat300main.ca/tag/downtown-winnipeg-restaurants/" rel="tag">Downtown Winnipeg Restaurants</a>
    <a href="https://livingat300main.ca/tag/winnipeg-restaurants/" rel="tag">Winnipeg Restaurants</a>
</div>


<style>
    .social-buttons-follow-post{
        margin-top: 45px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        column-gap: 20px;
    }
    .social-buttons-follow-post i{
        color: white;
    }
    .social-buttons-follow-post a{
        font-size: 18px;
        height: 45px;
        flex-grow: 1;
        width: 90px;
        padding: 0 20px 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        position: relative;
        top:0px;
    }

    .social-buttons-follow-post a:hover{
        top: -8px;
        transition: top 0.3s;
    }

    .social-buttons-follow-post a[data-title=Facebook]{
        background-color: rgb(59, 89, 152);
    }

    .social-buttons-follow-post a[data-title=Twitter]{
        background-color: rgb(29, 161, 242);
    }

    .social-buttons-follow-post a[data-title=Instagram]{
        background-color: rgb(189, 8, 28);
    }

    .social-buttons-follow-post a[data-title=Whatsapp]{
        background-color: rgb(0, 236, 103);
    }


</style>

<div class="social-buttons-follow-post">
    <a href="https://www.facebook.com/300MainWinnipeg/" data-title="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="https://twitter.com/300MainWinnipeg" data-title="Twitter"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.instagram.com/300MainWinnipeg/" data-title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCDVIykFuhGW9gDVBRFpIBjg" data-title="Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
</div>