<style>
    .testimonial-board {
      width: 100%;
      background-color: rgb(242, 242, 242);
    }
    .testimonials p {
      border: 0px red solid;
    }

    .testimonials-container {
      margin: auto;
      max-width: 1200px;
      padding: 15px;
      width: 100%;
      
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .testimonials {
      padding: 0px;
      line-height: 60px;
      width: 400px;
      display: inline-block;
      white-space:nowrap;
      overflow: hidden;
    }

    @media screen and (min-width: 768px) {
      .testimonials {
        width: 300px;
      }
    }

    @media screen and (min-width: 1020px) {
      .testimonials {
        width: 280px;
      }
    }

    .testimonials a {
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: rgb(17, 17, 17);
      font-family: 'Playfair Display', sans-serif;
    }


    .testimonials::after {
      content: "";
      clear: both;
      display: table;
    }

    .testimonials img {
      float: left;
      margin-top: 16px; 
      width: 60px;
      height: 60px;
      margin-right: 20px;
      border-radius: 50%;
    }
    
  </style>
  <div class="testimonial-board">
    <div class="testimonials-container">

      <div class="testimonials">
        <a href="https://livingat300main.ca/space-ideas-for-small-gardens/" class="mask-img">
          <img src="https://arwebstore.blob.core.windows.net/livingat300main-ca/2022/09/garden3-100x100.jpg">
        </a>
        <p>
          <a href="https://livingat300main.ca/space-ideas-for-small-gardens/"> Space Ideas for Small Gardens</a>
        </p>
      </div>

      <div class="testimonials">
        <a href="https://livingat300main.ca/space-ideas-for-small-gardens/" class="mask-img">
          <img src="https://arwebstore.blob.core.windows.net/livingat300main-ca/2022/09/pup-6317bb23b019c-100x100.jpg">
        </a>
        <p>
          <a href="https://livingat300main.ca/300-main-pup-patio-at-manyfest/">300 Main Pup Patio at Manyfest</a>
        </p>
      </div>

      <div class="testimonials">
        <a href="https://livingat300main.ca/space-ideas-for-small-gardens/" class="mask-img">
          <img src="https://arwebstore.blob.core.windows.net/livingat300main-ca/2022/08/blog3-100x100.png">
        </a>
        <p>
          <a href="https://livingat300main.ca/summer-smoothies/">Summer Smoothies</a>
        </p>
      </div>

      <div class="testimonials">
        <a href="https://livingat300main.ca/space-ideas-for-small-gardens/" class="mask-img">
          <img src="https://arwebstore.blob.core.windows.net/livingat300main-ca/2022/07/275864305_497564391750898_2848710138243712305_n-100x100.jpg">
        </a>
        <p>
          <a href="https://livingat300main.ca/top-5-food-drink-spots-in-winnipeg-this-summer/">Top 5 Food &amp; Drink Spots in Winnipeg this Summer</a>
        </p>
      </div>

    </div>
  </div>